<div class="table-responsive">

<table class="table table-striped">
  <thead>
      <th>{{"Name"}}</th>
      <th>{{this.renowntitle}}</th>
  </thead>

  <tbody>
    {{#each this.list as |entry| }}
    <tr>
        {{#if (eq this.mode "char") }}
           <td><LinkTo @route="char" @model={{entry.name}}> {{entry.name}}</LinkTo> </td>
        {{else if (eq this.mode "org") }}
           {{#if this.showLinks}}
              <td><LinkTo @route="wiki-page" @model="{{this.prefix}}{{entry.name}}{{this.postfix}}"> {{entry.name}}</LinkTo> </td>
           {{else}}
              <td>{{entry.name}}</td>
           {{/if}}
        {{else}}
           <td>{{entry.name}}</td>
        {{/if}}
        <td>{{entry.total}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>
</div>

<br><br>

{{outlet}}
