<BsModalSimple @title="Reset {{this.title}}" @closeTitle="Cancel" @submitTitle="Reset All" @size={{null}} @fade={{true}} @open={{this.resetAllRenown}} @onSubmit={{this.doResetAllRenown}} @onHide={{this.cancelResetAllRenown}}>

    <p>Are you sure you want to proceed? This action will erase all {{this.title}} for the current season.</p>

 </BsModalSimple>
